.chose__wrap {
  border: 1px solid #000;
  border-radius: 5px;
  width: 90%;
  border-spacing: 10px;
  margin-top: 12px;
  padding-top: 50%;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.customTextWrap{
  position: absolute;
  right: 0px;
  left: 0px;
  top: 20px;
  margin: 0 auto;
}
.custom-img{
  position: absolute;
  right: 0px;
  top: 20px;
  max-width: 200px;
  max-height: 200px;
}
@media screen and (max-width: 1024px) {
  .chose__wrap {
    width: 95%;
  }
}
@media screen and (max-width: 720px) {
  .chose__wrap {
    border: 2px solid #000;
    width: 98%;
  }
}
@media screen and (max-width: 500px) {
  .chose__wrap {
    padding: 0px;
    width: 100%;
    min-height: 300px;
  }
}
